USE [master]
GO
/****** Object:  Database [Flash]    Script Date: 2024/11/07 12:50:00 ******/
CREATE DATABASE [Flash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Flash', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Flash.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Flash_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Flash_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Flash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Flash]
GO
/****** Object:  Table [dbo].[SensitiveWords]    Script Date: 2024/11/07 12:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensitiveWords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[DateCreated] [date] NOT NULL,
 CONSTRAINT [PK_SensitiveWords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SensitiveWords] ON 

INSERT [dbo].[SensitiveWords] ([Id], [Word], [DateCreated]) VALUES (1, N'ACTION', CAST(N'2024-11-07' AS Date))
INSERT [dbo].[SensitiveWords] ([Id], [Word], [DateCreated]) VALUES (2, N'ALL', CAST(N'2024-11-07' AS Date))
INSERT [dbo].[SensitiveWords] ([Id], [Word], [DateCreated]) VALUES (3, N'ACTION', CAST(N'2024-11-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[SensitiveWords] OFF
GO
ALTER TABLE [dbo].[SensitiveWords] ADD  CONSTRAINT [DF_SensitiveWords_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  StoredProcedure [dbo].[spGetSensitiveWords]    Script Date: 2024/11/07 12:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetSensitiveWords]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.SensitiveWords
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertSensitiveWord]    Script Date: 2024/11/07 12:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spInsertSensitiveWord]
	@word nvarchar(200) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO dbo.SensitiveWords([Word])
	VALUES (@word)

END
GO
USE [master]
GO
